---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    class="relative transition duration-1000 bg-green-600"
  >
  <!-- <pageHeader /> -->
  </div>
</Layout>

<style></style>
